NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5174,http://localhost:5173

DB_CONNECT_STRING=REPLACE_WITH_MONGODB_ATLAS_SRV_STRING

JWT_ACCESS_KEY=REPLACE_WITH_RANDOM_HEX_48
JWT_REFRESH_KEY=REPLACE_WITH_A_DIFFERENT_RANDOM_HEX_48

REDIS_HOST=REPLACE_WITH_REDIS_HOST
REDIS_PORT=REPLACE_WITH_REDIS_PORT
REDIS_PASS=REPLACE_WITH_REDIS_PASSWORD

CLOUDINARY_CLOUD_NAME=REPLACE_ME
CLOUDINARY_API_KEY=REPLACE_ME
CLOUDINARY_API_SECRET=REPLACE_ME

TURNSTILE_SECRET_KEY=REPLACE_ME

SENDER_GMAIL=REPLACE_ME
SENDER_PASSWORD=REPLACE_ME

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

SEED_ADMIN_EMAIL=admin@sconnect.local
SEED_ADMIN_PASSWORD=Admin@12345
